digraph present_aller {
    rankdir="LR"
    base [ label="aller" ]

    fps [ label="vais" ]
    sps [ label="vas" ]
    tps [ label="va" ]
    fpp [ label="allons" ]
    spp [ label="allez" ]
    tpp [ label="vont" ]

    base -> fps [ label="{{ label.person.first }} {{ label.person.singular }}" ]
    base -> sps [ label="{{ label.person.second }} {{ label.person.singular }}" ]
    base -> tps [ label="{{ label.person.third }} {{ label.person.singular }}" ]
    base -> fpp [ label="{{ label.person.first }} {{ label.person.singular }}" ]
    base -> spp [ label="{{ label.person.second }} {{ label.person.singular }}" ]
    base -> tpp [ label="{{ label.person.third }} {{ label.person.singular }}" ]
}