digraph present_avoir {
    rankdir="LR"
    base [ label="avoir" ]

    fps [ label="ai" ]
    sps [ label="as" ]
    tps [ label="a" ]
    fpp [ label="avons" ]
    spp [ label="avez" ]
    tpp [ label="ont" ]

    base -> fps [ label="{{ label.person.first }} {{ label.person.singular }}" ]
    base -> sps [ label="{{ label.person.second }} {{ label.person.singular }}" ]
    base -> tps [ label="{{ label.person.third }} {{ label.person.singular }}" ]
    base -> fpp [ label="{{ label.person.first }} {{ label.person.plural }}" ]
    base -> spp [ label="{{ label.person.second }} {{ label.person.plural }}" ]
    base -> tpp [ label="{{ label.person.third }} {{ label.person.plural }}" ]
}