digraph etre {
    rankdir="LR"
    base [ label="être" ]

    fps [ label="suis" ]
    sps [ label="es" ]
    tps [ label="est" ]
    fpp [ label="sommes" ]
    spp [ label="êtes" ]
    tpp [ label="sont" ]

    base -> fps [ label="{{ label.person.first }} {{ label.person.singular }}" ]
    base -> sps [ label="{{ label.person.second }} {{ label.person.singular }}" ]
    base -> tps [ label="{{ label.person.third }} {{ label.person.singular }}" ]
    base -> fpp [ label="{{ label.person.first }} {{ label.person.singular }}" ]
    base -> spp [ label="{{ label.person.second }} {{ label.person.singular }}" ]
    base -> tpp [ label="{{ label.person.third }} {{ label.person.singular }}" ]
}