digraph faire {
    rankdir="LR"
    base [ label="faire" ]

    fps [ label="fais" ]
    sps [ label="fais" ]
    tps [ label="fait" ]
    fpp [ label="faisons" ]
    spp [ label="faitez" ]
    tpp [ label="font" ]

    base -> fps [ label="{{ label.person.first }} {{ label.person.singular }}" ]
    base -> sps [ label="{{ label.person.second }} {{ label.person.singular }}" ]
    base -> tps [ label="{{ label.person.third }} {{ label.person.singular }}" ]
    base -> fpp [ label="{{ label.person.first }} {{ label.person.singular }}" ]
    base -> spp [ label="{{ label.person.second }} {{ label.person.singular }}" ]
    base -> tpp [ label="{{ label.person.third }} {{ label.person.singular }}" ]
}