digraph present_re {
    rankdir="LR"
    base [ label="infintive -re" ]

    fps [ label="-s" ]
    sps [ label="-s" ]
    tps [ label="-t / -" ]
    fpp [ label="-ons" ]
    spp [ label="-ez" ]
    tpp [ label="-ent" ]

    base -> fps [ label="{{ label.person.first }} {{ label.person.singular }}" ]
    base -> sps [ label="{{ label.person.second }} {{ label.person.singular }}" ]
    base -> tps [ label="{{ label.person.third }} {{ label.person.singular }}" ]
    base -> fpp [ label="{{ label.person.first }} {{ label.person.singular }}" ]
    base -> spp [ label="{{ label.person.second }} {{ label.person.singular }}" ]
    base -> tpp [ label="{{ label.person.third }} {{ label.person.singular }}" ]
}